.card{
    box-shadow: 2px 5px 7px #8c8080;
    border-radius:20px ;
}
.card__top{
    text-align: center;
    margin: 10px 0;
}

.img img{
    width: 100%;
    border-radius: 20px 20px 0 0;
}
.card__title{
    font-size: 20px;
    color: rgb(114, 81, 81);
}

.card-flex{
    padding: 3px 10px;
    display: flex;
    gap: 5px;
   
}
.card__footer{
    padding: 10px 0;
    text-align: center;
}
.price{
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 15px;
}
.card button{
    height: 44px;
    width: 100px;
    text-align: center;   
    background-color: #fff;
    cursor: pointer;
    color:rgb(237, 184, 120);
    border-color:  rgb(237, 184, 120);
  }
  .card button:hover{
    background-color: rgb(237, 184, 120);
    color: #fff;
    border: none;
  }

  