.btn{
     display: inline-block;
     margin-right: 10px;
    text-align: center;
    width: 90px;
    padding: 10px;
    text-decoration: none;
    background-color: #fff;
    border-radius: 10px;
    font-size: 16px;
  }
  
  .flex{
    position: absolute;
    left: 7%;
    top: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
  }